<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="23.1.1.1" targetFramework="monoandroid44" />
  <package id="Xamarin.Forms" version="1.2.1.6229" targetFramework="monoandroid44" />
  <package id="Xamarin.GooglePlayServices.Ads" version="29.0.0.2" targetFramework="monoandroid44" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="monoandroid44" />
</packages>